.heading h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: darkgrey;
}

.heading p {
    color: antiquewhite;
    text-align: center;
}

.content h2{
    color: darkgrey;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: black;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
} 
.center img {
    max-width: 30%;
    border-radius: 190px;
    
}
.skills h2 {
    color: antiquewhite;
    text-decoration: underline;
}

.skills p {
    color: antiquewhite;
}

.content p {
    color: antiquewhite;
}

.education {
    color: antiquewhite;
    text-align: right;
}